.container-fluid {
    min-height: calc(100vh - 159px);
}

.carousel-image-container {
    background-color: #37474f;
    padding: 1em 0;
    text-align: center;
    color: #fff;
    min-height: 16em;
    height: 16em;
}

.carousel-image {
    min-height: 11em;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    border: 2px solid #FFF;
    border-radius: 15%;
}

.category {
    margin-bottom: 0;
}

.category-desc {
    opacity: .85;
    font-size: 13px;
}

.text-no-wrap {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 20px;
}

.category-desc-carousel {
    margin-bottom: 0.2rem;
}

.card {
    margin-bottom: 0
}

.card .card-content {
    padding: 10px 20px;
}

small {
    font-weight: bold
}

button {
    background-color: #fff;
    margin: 25px 0px;
    padding: 8px 24px;
}
