.example-fill-remaining-space {
   flex: 1 1 auto;
}

.translate-flag {
   padding: 8px 7px 8px 0px;
   cursor: pointer;
   height: 45px;
}

.font-bold {
    font-weight: bold;
}

span:focus {
    /* color: white; */
    outline: none;
}

button:focus {
    /* color: white; */
    outline: none;
}

mat-toolbar {
    /* box-shadow: 0 12px 20px -10px rgba(63, 81, 181,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(63, 81, 181,.2); */
    padding-left: 0
}

.ion-ios-analytics-outline {
    margin-right: 8px;
    vertical-align: middle; */
    display: flex;
    align-content: center;
    justify-content: center;
}

.logo {
    padding: 15px 45px !important;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 20px !important;
    border-radius: 0px !important;
    cursor: pointer;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height:auto;
    overflow: hidden;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    /* padding: 0.75em; */
    font-size: 16px;
    text-decoration: none;

}

.header li a:visited, li a:link{
    color: white;
    text-decoration: none;
}

.header li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    /* padding-top: 4px */
    /* padding: 16px 16px; */
    /* padding-bottom: 14px; */
    /* border-bottom: solid 3px #eee; */
}

.header ul li.active {
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    /* padding: 16px 16px; */
    /* padding-top: 4px; */
    border-bottom: solid 2px #fff;
}



.toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.9");
    cursor: pointer;
}

mat-sidenav {
    width: 205px;
}

mat-sidenav-content {
    overflow: hidden;
}

.mat-drawer-container {
    background-color: inherit;
    color: inherit;
}

.mat-sidenav div a:hover {
    text-decoration: none;
}
