.container-fluid {
    min-height: calc(100vh - 159px);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.statistics-items {
    padding-bottom: 1.6em
}

.statistics-number {
    display: flex;
    align-items: center;
    background-color: #eee;
    opacity: 0.85;
    padding: 0px 7px;
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.statistics-number.total {
    background-color: #00897B;
    color:#fff;
    opacity: 1;
    font-weight: bold;
}

.max-alert {
    color: #721c24;
    background-color: #e8ddde ;
    border-color: #f4cace;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 991px) {
  .search-button-container {
    margin-top: 1em
  }
}
