.card .card-header-custom {
    box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 10px 15px;
    // background-color: #999;
    background-color: #fff;

}

.category {
    margin-bottom: 0;
}

.category-desc {
    opacity: .85;
    font-size:13px;
}

.category-desc .material-icons {
    position: relative;
    top: 2px;
    font-size: 14px;
}
.card .card-content {
    padding: 10px 20px;
}

.card-row {
    padding: 0px 10px;
}

.card-stats .title {
    margin: 0;
}
.card-stats .card-header-custom {
    float: left;
    text-align: center;
}
.card-stats .card-header-custom i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
}
.card-stats .card-content {
    text-align: right;
    padding-top: 10px;
}

.card-footer {
    margin: 0 20px;
    padding-left: 0px;
    padding-right: 0px;
    border-top: 1px solid #eee;
    background: #fff;
    text-align: right;
}
.card-footer .content {
    display: block;
}
.card-footer div {
    display: inline-block;
}
/* .card-footer .author {
color: #999;
} */
.card-footer .stats {
    line-height: 22px;
    color: #999;
    font-size: 12px;
}
.card-footer .stats .material-icons {
    position: relative;
    top: 4px;
    font-size: 16px;
}

.image-container {
    width:45px;
    height: 60px;
    display: flex;
    align-items: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

small {
    font-weight: bold
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

/* a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
} */


/*  */
/* CAROUSEL CSS */
/*  */
.bannerStyle {
    margin:0;
    padding-bottom: 0.2em;
}

.bannerStyle .carousel-image-container {
    /* background-color: #6b6b6b; */
    background-color: rgba(0, 0, 0, 0.8);
    padding:1em 0;
    text-align: center;
    color: #fff;
    min-height: 16em;
    height: 16em;
    /* line-height: 300px; */
}

.bannerStyle .carousel-image {
    min-height: 11em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerStyle .carousel-item {
    background-color: black;
    /* min-height: 300px; */
    text-align: center;
    /* line-height: 300px; */
}

.category-desc-carousel {
    margin-bottom:0.5rem;
}


.bannerStyle img {
    border: 2px solid #FFF;
    border-radius: 15%;
}

.leftRs {
    display: none !important;
    visibility: hidden;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
}

.rightRs {
    display: none !important;
    visibility: hidden;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
}

#twitter-widget-0 {
    min-height: 100%;
}
