.main-content {
    min-height: calc(100vh - 159px);
}


h3 {
    margin:30px 0 0 0;
}

.timeline {
    position: relative;
    padding: 0em 4.5em;
}

.timeline .timeline-event {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

.timeline .timeline-event .timeline-content {
    position: relative;
    /* width: calc(50% - 50px); */
    width: calc(100% - 70px);
}

.timeline .timeline-event::before {
    display: block;
    content: "";
    width: 2px;
    /* height: calc(50% - 30px); */
    height:20px;
    position: absolute;
    background: #d2d2d2;
    /* left: calc(50% - 1px); */
    left: 19px;
    top: 0;
}

.timeline .timeline-event::after {
    display: block;
    content: "";
    width: 2px;
    /* height: calc(50% - 30px); */
    height:calc(100% - 90px);
    position: absolute;
    background: #d2d2d2;
    /* left: calc(50% - 1px); */
    left: 19px;
    /* top: calc(50% + 30px); */
    top: 90px;
}

.timeline .timeline-event:first-child::before {
    /* display: none; */
}

.timeline .timeline-event:last-child::after {
    /* display: none; */
    height: calc(100% + 1000px);
}

.timeline .timeline-event:nth-child(even) .timeline-content {
    /* margin-left: calc(50% + 50px); */
    margin-left: 85px;
}

.timeline .timeline-event:nth-child(odd) .timeline-content {
    /* margin-left: 0; */
    margin-left: 85px;

}

.timeline .timeline-badge {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #d2d2d2;
    top: calc(50% + 15px);
    /* top: 30px; */
    right: calc(50% - 20px);
    border-radius: 50%;
    text-align: center;
    cursor: default;
    left: 0;
    z-index: 9999;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.timeline .timeline-badge i {
    font-size: 23px;
    line-height: 40px;

}

.timeline .timeline-time {
    padding: 5px;
    display: block;
    position: absolute;
    width: 100px;
    min-height: 50px;
    max-height: 70px;
    line-height: 20px;
    background: #d2d2d2;
    /* top: calc(50% - 20px); */
    top: 31px;
    /* right: calc(50% - 20px); */
    border-radius: 2%;
    text-align: center;
    cursor: default;
    left: -30px;
    z-index: 9999;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.timeline .timeline-time div {
    font-size: 14px;
}

.timeline .timeline-time div.clock{
    font-size: 15px;
}

.red {
    background-color: #F44336 !important;
}

.orange {
    background-color: orange !important;
}

.green {
    background-color: #4CAF50 !important;
}

.blue {
    background-color: #2196F3 !important
}

.responsive-icon {
    font-size: 13em;
}

.file-thumb-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-size: 3rem;
    width:100%;
    min-width:100%;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 0px 3px 0 rgba(0, 0, 0, 0.12);
    border: 2px solid #FFF;
    background-color: #ffffff;
}

.comment {
    background-color: #dcdce6;
}

.list-tags {
    /* float: left; */
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-tags li {
    display: block;
    float: left;
    background: #F5F5F5;
    border: 1px solid #D5D5D5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: 23px;
    font-size: 11px;
    margin: 2px 5px 2px 0px;
    padding: 0px 8px;
    color: #22262e;
}

@media (max-width:1200px) {
    .timeline {
        padding: 0 3em;
    }
}

@media (max-width:500px) {
    .timeline {
        padding: 0 1.5em;
    }

    .responsive-icon {
        font-size: 7em;
    }
}

@media (max-width:350px) {
    .responsive-icon {
        font-size: 3em;
    }
}
/* @media (max-width: 600px) {
    .timeline .timeline-event .timeline-content {
        width: calc(100% - 70px);
    }
    .timeline .timeline-event::before {
        left: 19px;
    }
    .timeline .timeline-event::after {
        left: 19px;
    }
    .timeline .timeline-event:nth-child(even) .timeline-content {
        margin-left: 70px;
    }
    .timeline .timeline-event:nth-child(odd) .timeline-content {
        margin-left: 70px;
    }
    .timeline .timeline-badge {
        left: 0;
    }
} */
.map-header {
    display:flex;
    justify-content: space-between;
    align-items: center
}

.mat-button-toggle-checked .color_teal {
    color:#00897B;
}

.sub-form::before {
    display: block;
    content: "";
    width: 2px;
    /* height: calc(50% - 30px); */
    height:calc(100% - 90px);
    position: absolute;
    background: #d2d2d2;
    /* left: calc(50% - 1px); */
    left: 19px;
    /* top: calc(50% + 30px); */
    /* top: 90px; */
}

.stepper_nav_buttons {
    margin: 1.5em 0.5em 0.5em 0.5em
}

.form_header {
    /* padding:1.5em .5em 0em .5em */
    margin-bottom:1.5em
}

.flex-vertical-align {
  margin: 0.5em 0
}

.info_modes_card {
    margin:0.5em 0;
    line-height: 3.5em;
    background-color: #eeeeee94;
}

.flex-input-group {
    flex:1 0 auto;
    width:auto;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px
}

.flex-input-group-append {
    flex:1 0 auto;
    width:auto;
    margin-right:0.6em;
    height: 36px;
}

.input-group-text {
    background-color: #eee;
}

.subscibe-button {
    margin-top:1.5em;
}

@media (max-width:700px) {
    .map-header {
        display:block;
    }
}

@media (max-width:991px) {
    .info_modes_card {
        margin-top:1.5em
    }
}
